* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light_green: #d8f3dc;
  --mid_green: #2d6a4f;
  --dark_green: #081c15;
}

body {
  font-family: 'Roboto Slab', serif;
  background-image: url(./images/Digital_Nigeria_Banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#naver {
  background-color: transparent;
  color: var(--mid_green);
}

#naver .inner-nav .mains-links li a {
  font-size: 1.25em;
  color: var(--mid_green);
  border-bottom: 2px solid var(--mid_green);
}

#naver .inner-nav .mains-links li a:hover {
  color: var(--light_green);
}

#naver .inner-nav .socials-links li a svg:hover {
  fill: var(--light_green);
}

#main-section .row a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--dark_green);
  z-index: 100;
  font-weight: 800;
}

#main-section {
  margin-top: 70px;
  margin-bottom: 70px;
}

#main-section h2 {
  font-size: 2.2em;
  font-weight: 900;
  margin-bottom: 50px;
}

#main-section .row .col-md-4 {
  position: relative;
}

#main-section .row .col-md-4 .categories {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: var(--dark_green);
  z-index: -1;
  width: 50%;
}

#main-section .row .col-md-4 a svg:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
  fill:var(--light_green)
}

/* #main-section .row .col-md-4 a:hover {
  background-color: rgba(45, 106, 79, 0.6);
} */

footer {
  background-color: var(--light_green);
}

footer p {
  font-size: 1.2em;
}

footer .footer-link {
  display: none;
  flex-direction: column;
  text-align: center;
  margin-bottom: 0.5em;
}

footer .footer-link a {
  text-decoration: none;
  color: var(--dark_green);
  border-bottom: 1px solid var(--dark_green);
  font-size: 1.2em;
  margin: 0.6em 0em;
}

footer .footer-socials {
  display: none;
  margin: 0.7em 0em;
}

#part-section form {
  width: 270px;
}

#part-section form input {
  border: 2px solid var(--mid_green);
}

#part-section form button {
  font-size: 1.3em;
  background-color: var(--mid_green);
  border: none;
  border-radius: 20px;
  padding: 0.5em 1.5em;
}

#part-section form button:hover {
  background-color: var(--light_green);
  color: var(--dark_green);
}

#part-section {
  margin: 100px 0;
}

#pops,
#pops-false {
  background-color: rgba(45, 106, 79, 0.6);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  backdrop-filter: blur(8px);
}

.flex{
  display: flex;
}

.displays {
  display: none;
}

#pops .inner-pops,
#pops-false .inner-pops {
  background-color: white;
  width: 600px;
  border-radius: 10px;
}

#pops .inner-pops button,
#pops-false .inner-pops button {
  background-color: transparent;
  border: none;
}

#pops .inner-pops button svg:hover,
#pops-false .inner-pops button svg:hover {
  fill: green;
}

@media screen and (max-width: 780px) {
  #naver .inner-nav .socials-links {
    display: none;
  }

  #naver .inner-nav .mains-links .contact-link {
    display: none;
  }

  footer .footer-link {
    display: flex;
  }

  footer .footer-socials {
    display: flex;
  }
}

@media screen and (max-width: 615px) {
  #pops .inner-pops,
  #pops-false .inner-pops {
    width: 90%;
  }
}
